#os file
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#vim
*~

#compiled source
*.o
*.out
*.a

build/
!build/data/*

#cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#other files
*.swp
*.log
